/**
 * rename font-family into Open Sans like it is named in other css
 * fix font-weight and font-style
 * put svg fonts above woff for Chrome browser
 */
@font-face {font-family: 'Open Sans';src: url(OpenSans-Regular-webfont.eot);src: url(OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),url(OpenSans-Regular-webfont.svg#open_sansregular) format('svg'),url(OpenSans-Regular-webfont.woff) format('woff'),url(OpenSans-Regular-webfont.ttf) format('truetype');font-weight: 400;font-style: normal;}
@font-face {font-family: 'Open Sans';src: url(OpenSans-Italic-webfont.eot);src: url(OpenSans-Italic-webfont.eot?#iefix) format('embedded-opentype'),url(OpenSans-Italic-webfont.svg#open_sansitalic) format('svg'),url(OpenSans-Italic-webfont.woff) format('woff'),url(OpenSans-Italic-webfont.ttf) format('truetype');font-weight: 400;font-style: italic;}
@font-face {font-family: 'Open Sans';src: url(OpenSans-Semibold-webfont.eot);src: url(OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'),url(OpenSans-Semibold-webfont.svg#open_sanssemibold) format('svg'),url(OpenSans-Semibold-webfont.woff) format('woff'),url(OpenSans-Semibold-webfont.ttf) format('truetype');font-weight: 600;font-style: normal;}
@font-face {font-family: 'Open Sans';src: url(OpenSans-SemiboldItalic-webfont.eot);src: url(OpenSans-SemiboldItalic-webfont.eot?#iefix) format('embedded-opentype'),url(OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic) format('svg'),url(OpenSans-SemiboldItalic-webfont.woff) format('woff'),url(OpenSans-SemiboldItalic-webfont.ttf) format('truetype');font-weight: 600;font-style: italic;}
