/*! * rename font-family into Open Sans like it is named in other css * fix font-weight and font-style * put svg fonts above woff for Chrome browser */@font-face {font-family: 'Ubuntu Mono';src: url(UbuntuMono-Regular.eot);src: url(UbuntuMono-Regular.eot?iefix) format('embedded-opentype'),url(UbuntuMono-Regular.svg#UbuntuMono) format('svg'),url(UbuntuMono-Regular.woff) format('woff'),url(UbuntuMono-Regular.ttf) format('truetype');font-weight: 400;font-style: normal;}
@font-face {font-family: 'Ubuntu Mono';src: url(UbuntuMono-Italic.eot);src: url(UbuntuMono-Italic.eot?iefix) format('embedded-opentype'),url(UbuntuMono-Italic.svg#UbuntuMono) format('svg'),url(UbuntuMono-Italic.woff) format('woff'),url(UbuntuMono-Italic.ttf) format('truetype');font-weight: 400;font-style: italic;}
@font-face {font-family: 'Ubuntu Mono';src: url(UbuntuMono-Bold.eot);src: url(UbuntuMono-Bold.eot?iefix) format('embedded-opentype'),url(UbuntuMono-Bold.svg#UbuntuMono) format('svg'),url(UbuntuMono-Bold.woff) format('woff'),url(UbuntuMono-Bold.ttf) format('truetype');font-weight: 700;font-style: normal;}
@font-face {font-family: 'Ubuntu Mono';src: url(UbuntuMono-BoldItalic.eot);src: url(UbuntuMono-BoldItalic.eot?iefix) format('embedded-opentype'),url(UbuntuMono-BoldItalic.svg#UbuntuMono) format('svg'),url(UbuntuMono-BoldItalic.woff) format('woff'),url(UbuntuMono-BoldItalic.ttf) format('truetype');font-weight: 700;font-style: italic;}
