/**
 * rename font-family into PT Sans like it is named in other css
 * fix font-weight and font-style
 * put svg fonts above woff for Chrome browser
 */
@font-face {font-family: 'PT Sans';src: url(PTS55F-webfont.eot);src: url(PTS55F-webfont.eot?#iefix) format('embedded-opentype'),url(PTS55F-webfont.svg#open_sansregular) format('svg'),url(PTS55F-webfont.woff) format('woff'),url(PTS55F-webfont.ttf) format('truetype');font-weight: 400;font-style: normal;}
@font-face {font-family: 'PT Sans';src: url(PTS56F-webfont.eot);src: url(PTS56F-webfont.eot?#iefix) format('embedded-opentype'),url(PTS56F-webfont.svg#open_sansitalic) format('svg'),url(PTS56F-webfont.woff) format('woff'),url(PTS56F-webfont.ttf) format('truetype');font-weight: 400;font-style: italic;}
@font-face {font-family: 'PT Sans';src: url(PTS75F-webfont.eot);src: url(PTS75F-webfont.eot?#iefix) format('embedded-opentype'),url(PTS75F-webfont.svg#open_sansbold) format('svg'),url(PTS75F-webfont.woff) format('woff'),url(PTS75F-webfont.ttf) format('truetype');font-weight: 700;font-style: normal;}
@font-face {font-family: 'PT Sans';src: url(PTS76F-webfont.eot);src: url(PTS76F-webfont.eot?#iefix) format('embedded-opentype'),url(PTS76F-webfont.svg#open_sanssemibold_italic) format('svg'),url(PTS76F-webfont.woff) format('woff'),url(PTS76F-webfont.ttf) format('truetype');font-weight: 700;font-style: italic;}
@font-face {font-family: 'PT Sans Narrow';src: url(PTN77F-webfont.eot);src: url(PTN77F-webfont.eot?#iefix) format('embedded-opentype'),url(PTN77F-webfont.svg#open_sansbold) format('svg'),url(PTN77F-webfont.woff) format('woff'),url(PTN77F-webfont.ttf) format('truetype');font-weight: 700;font-style: normal;}
